[Unit]
Description=Start MISP Scraper Subscribe to Redis queue service
After=misp-workers.service

[Service]
Type=simple
WorkingDirectory=/var/www/MISP/misp-custom/misp-scraper/
Environment=PATH=/var/www/MISP/misp-custom/misp-scraper/venv/bin
ExecStart=/var/www/MISP/misp-custom/misp-scraper/venv/bin/python /var/www/MISP/misp-custom/misp-scraper/misp-scraper.py subscribe
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
